.displaySpaceBetween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.displayCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.displaySpaceAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.displayEnd{
    display: flex;
    justify-content: end;
    align-items: center;
}
.primaryBtn{
        padding: 10px 25px;
        border-radius: 5px;
        border: none;
        background: blue;
        color: white;
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 1px;
        transition: transform 1s ease; 
        cursor: pointer;
}
.primaryBtn:hover {
    transform: scale(1.1);/* Increase the size by 10% */
    background-color: darkblue; /* Optional: change background color on hover */
}
.h1{
    font-family: Nunito Sans;
    font-size: 65px;
    font-weight: 600;
    line-height: normal;
    margin:0;
}
.h2{
    font-family: Nunito Sans;
    font-size: 45px;
    font-weight: 600;
    line-height: normal;
    margin:0;
}
.h3{
    font-family: Nunito Sans;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
    margin:0;
}
.h4{
    font-family: Nunito Sans;
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    margin:0;
}
.h5{
    font-family: Nunito Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin:0;
}
@media (max-width: 767px){
    .h1{font-size: 45px;}
    .h2{font-size: 25px;}
}
@media (max-width: 500px){
    .h1{font-size: 28px;}
    .h2{font-size: 20px;}
    .h3{font-size: 20px;}
    .h4{font-size: 15px;}
    .h5{font-size: 15px;}
}
